// https://coolors.co/f55d3e-878e88-f7cb15-ffffff-76bed0
$cultured: #f5f5f5;
$cherry-blossom-pink: #ffb7c5;
$crimson: #d52139;
$raisin-black: #221e22;
$rich-black-fogra-39: #0c080c;

$body-bg: $cultured;
$body-color: $raisin-black;

$primary: $crimson;
$secondary: darken($cultured, 5%);
$light: darken($cultured, 2.5%);
