// General

body {
  //font-family: "Open Sans", sans-serif;
  color: $body-color;
  background-color: $body-bg;
}

main {
  padding-top: 4.5rem;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: lighten($primary, 10%);
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  //font-family: "Raleway", sans-serif;
}
