// Get Startet Button

.get-started-btn {
  margin-left: 22px;
  background: $crimson;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;

  &:hover {
    background: darken($crimson, 5%);
    color: #fff;
  }

  @media (max-width: 768px) {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}
