// Navigation Menu

/*
nav {
  font-family: "Poppins", sans-serif;
}
*/

.navbar {
  background: $body-bg;
  box-shadow: 0 0 18px rgba(55, 66, 59, 0.08);

  .navbar-brand {
    font-size: 30px;
    font-weight: 600;
  }

  a.nav-link {
    color: lighten($body-color, 30%);
  }

  a.navbar-brand,
  a.nav-link:hover,
  a.nuxt-link-exact-active {
    color: $crimson;
  }
}
